@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1E1E;
    color: white;
}

h1 {
    font-size: 20px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
    animation: live 2s infinite;
}

@keyframes live {
    0% {
        opacity: 0.4;
        font-size: 10px;
    }

    50% {
        opacity: 1;
        font-size: 20px;
    }

    100% {
        opacity: 0.4;
        font-size: 10px;
    }
}

h2 {
    height: 16vh;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

@media (max-width: 500px) {
    h2 {
        font-size: 22px;
    }
}

ul {
    width: 90vw;
    height: 60vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    list-style: none;
}

@media (max-width: 1240px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 900px) {
    .card-main {
        width: 100%;
    }
}

ul .card {
    text-align: center;
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-main {
    display: flex;
    height: 23vh;
    cursor: pointer;
    width: 70%;
    background-color: red;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}

@media (max-width: 900px) {
    .card-main {
        width: 90%;
    }
}

.card-main:hover {
    transform: scale(1.1);
}

.card-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 800;
    transition: 0.5s all;
}

.card-inner:hover {
    transform: scale(1.1);
}

.card-name {
    font-size: 22px;
    font-weight: 700;
}

.card-detail {
    font-size: 46px;
    font-weight: 700;
}

@media (min-width: 500px) and (max-width: 700px) {
    .card-name {
        font-size: 16px;
    }

    .card-detail {
        font-size: 32px;
    }
}

.card-inner span {
    font-size: 11px;
}

.card:first-child .card-inner {
    background-color: #4C70BD;
}

.card:nth-child(2) .card-inner {
    background-color: #289240;
}

.card:nth-child(3) .card-inner {
    background-color: #BBAA32;
}

.card:nth-child(4) .card-inner {
    background-color: #E26C21;
}

.card:nth-child(5) .card-inner {
    background-color: #264078;
}

.card:nth-child(6) .card-inner {
    background-color: #A99B58;
}